* {
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #000;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    padding-bottom: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    position: absolute;
    left: 46%;
    bottom: 55%;
}


