* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(/Campus-Recruitment/Deployment/static/img/back1.jpg);
}

.navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Audiowide", sans-serif;
}

.navbar-header a{
    background: transparent;
}

.container {
    position: absolute;
    margin-top: 13%;
    max-width: 100%;
}

.card {
    margin-bottom: 5%;
    padding-bottom: 2%;
    background-color: rgba(0,0,0,0);
    border-width: 2px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    border-radius: 15px;
    width: 100%;
}

.card:hover {
    background-color: rgba(0,0,0,0,0.8);
    box-shadow: 0 8px 16px 4px rgba(255, 255, 255, 0.8);
}

.navbar a{
    color: #ffffff;
}

.navbar a:hover{
    color: rgba(255, 255, 255, 0.9);
}

h5{
    color: #e7dfdd;
}

.heading-text {
    position: absolute;
    margin-top: -50px;
    font-family: "Sofia", sans-serif;
    font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
}

.btn{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 15%;
    margin-bottom: 5%;
    margin-top: 2%;
    padding: 1% 2% 1%;
    font-weight: bold;
    font-size: 1.6rem;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

input {
    text-align: center;
}

::placeholder {
    color: grey;
}